<a href="https://colab.research.google.com/github/Dhwaj-054/lit-college-codes/blob/main/DAV_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("DAV lab Exp2")

DAV lab Exp2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("emp.csv")
df.head()

   Emp_ID   Name   Age      Sal  Experience     Dept Joining_Date  Per_score
0   101.0   John  25.0  50000.0         2.0       IT    6/15/2019       85.0
1   102.0  Alice  30.0  60000.0         5.0       HR    4/22/2018       90.0
2   103.0    Bob  35.0      NaN        10.0  Finance    7/11/2015       78.0
3   104.0    Eve  28.0  55000.0         4.0       IT     1/5/2020       88.0
4   105.0   Mike  40.0  75000.0        12.0  Finance    9/18/2010       92.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        46 non-null     float64
 1   Name          46 non-null     object
 2   Age           43 non-null     float64
 3   Sal           41 non-null     float64
 4   Experience    45 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  46 non-null     object
 7   Per_score     44 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.1+ KB

In [ ]:
df.tail()

    Emp_ID      Name   Age      Sal  Experience Dept Joining_Date  Per_score
43     NaN       NaN   NaN      NaN         NaN  NaN          NaN        NaN
44   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
45   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
46   137.0  Victoria  33.0  64000.0         8.0   HR    4/30/2017       87.0
47   138.0    Joseph  28.0  56000.0         4.0   IT    9/23/2019       86.0

In [ ]:
df.describe()

           Emp_ID        Age           Sal  Experience  Per_score
count   46.000000  43.000000     41.000000   45.000000  44.000000
mean   123.217391  33.488372  64658.536585    8.400000  88.272727
std     13.039961   7.102555  11791.119023    5.487175   4.667371
min    101.000000  23.000000  48000.000000    1.000000  78.000000
25%    112.250000  28.000000  55000.000000    4.000000  85.000000
50%    123.500000  32.000000  63000.000000    8.000000  88.000000
75%    134.750000  38.000000  72000.000000   12.000000  91.250000
max    145.000000  50.000000  90000.000000   20.000000  97.000000

In [ ]:
df.isnull().sum()

Emp_ID          2
Name            2
Age             5
Sal             7
Experience      3
Dept            4
Joining_Date    2
Per_score       4
dtype: int64

In [ ]:
df.columns

Index(['Emp_ID', 'Name', 'Age', 'Sal', 'Experience', 'Dept', 'Joining_Date',
       'Per_score'],
      dtype='object')

In [ ]:
df.shape

(48, 8)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Emp_ID        46 non-null     float64
 1   Name          46 non-null     object
 2   Age           43 non-null     float64
 3   Sal           41 non-null     float64
 4   Experience    45 non-null     float64
 5   Dept          44 non-null     object
 6   Joining_Date  46 non-null     object
 7   Per_score     44 non-null     float64
dtypes: float64(5), object(3)
memory usage: 3.1+ KB
None

In [ ]:
print(df.isnull().sum())

Emp_ID          2
Name            2
Age             5
Sal             7
Experience      3
Dept            4
Joining_Date    2
Per_score       4
dtype: int64

In [ ]:
df[df.duplicated()]

    Emp_ID      Name   Age      Sal  Experience Dept Joining_Date  Per_score
43     NaN       NaN   NaN      NaN         NaN  NaN          NaN        NaN
45   145.0     Logan  27.0  53000.0         3.0   IT    6/17/2020       84.0
46   137.0  Victoria  33.0  64000.0         8.0   HR    4/30/2017       87.0
47   138.0    Joseph  28.0  56000.0         4.0   IT    9/23/2019       86.0

In [ ]:
df.duplicated().any()

np.True_

In [ ]:
df.duplicated().sum()

np.int64(4)

In [ ]:
#df.dropna()

In [ ]:
df['Sal'].fillna(df['Sal'].mean(),inplace=True)
df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Per_score'].fillna(df['Per_score'].mean(),inplace=True)

/tmp/ipython-input-688483948.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sal'].fillna(df['Sal'].mean(),inplace=True)
/tmp/ipython-input-688483948.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Experience'].fillna(df['Experience'].mean(),inplace=True)
/tmp/ipython-input-688483948.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Per_score'].fillna(df['Per_score'].mean(),inplace=True)

In [ ]:
df['Age'].fillna(df['Age'].median(),inplace=True)

/tmp/ipython-input-1167227581.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)

In [ ]:
df['Experience'].fillna(df['Experience'].median(),inplace=True)
df['Per_score'].fillna(df['Per_score'].mode()[0],inplace=True)

/tmp/ipython-input-205893910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Experience'].fillna(df['Experience'].median(),inplace=True)
/tmp/ipython-input-205893910.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Per_score'].fillna(df['Per_score'].mode()[0],inplace=True)

In [ ]:
df['Joining_Date']=pd.to_datetime(df['Joining_Date'],errors='coerce')
print(df['Joining_Date'])

0    2019-06-15
1    2018-04-22
2    2015-07-11
3    2020-01-05
4    2010-09-18
5    2021-03-10
6    2017-08-30
7    2022-02-14
8    2008-05-27
9    2016-11-03
10   2019-07-23
11   2017-06-29
12   2005-10-01
13   2023-05-09
14   2014-12-12
15   2013-03-18
16   2021-07-14
17   2012-05-22
18   2022-08-09
19   2009-10-15
20   2016-01-19
21   2020-11-11
22   2014-04-25
23   2007-06-03
24   2019-02-27
25   2011-09-30
26   2018-12-07
27   2006-08-21
28   2022-05-16
29   2013-11-12
30   2016-07-05
31   2008-03-22
32   2021-06-09
33   2013-09-18
34   2022-10-14
35   2010-02-04
36   2017-04-30
37   2019-09-23
38   2012-12-19
39   2005-11-08
40   2012-12-19
41   2005-11-08
42          NaT
43          NaT
44   2020-06-17
45   2020-06-17
46   2017-04-30
47   2019-09-23
Name: Joining_Date, dtype: datetime64[ns]

In [ ]:
df['Joining_Date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 48 entries, 0 to 47
Series name: Joining_Date
Non-Null Count  Dtype
--------------  -----
46 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 516.0 bytes

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(44, 8)

In [ ]:
df.head()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
0,101.0,John,25.0,50000.000000,2.0,IT,2019-06-15,85.0
1,102.0,Alice,30.0,60000.000000,5.0,HR,2018-04-22,90.0
2,103.0,Bob,35.0,64658.536585,10.0,Finance,2015-07-11,78.0
3,104.0,Eve,28.0,55000.000000,4.0,IT,2020-01-05,88.0
4,105.0,Mike,40.0,75000.000000,12.0,Finance,2010-09-18,92.0

In [ ]:
df.tail()

,Emp_ID,Name,Age,Sal,Experience,Dept,Joining_Date,Per_score
39,140.0,Samuel,47.0,88000.000000,19.0,Finance,2005-11-08,96.000000
40,141.0,Abigail,32.0,70000.000000,12.0,Marketing,2012-12-19,89.000000
41,142.0,Samuel,47.0,88000.000000,19.0,NaN,2005-11-08,96.000000
42,NaN,NaN,32.0,64658.536585,8.4,NaN,NaT,88.272727
44,145.0,Logan,27.0,53000.000000,3.0,IT,2020-06-17,84.000000